[submodule "Binaries"]
	path = Binaries
	url = git@dev.x-null.net:mohue4/mohue-binaries.git
	ignore = dirty

[submodule "Content"]
	path = Content
	url = git@dev.x-null.net:mohue4/mohue-assets.git
	ignore = dirty

[submodule "Source"]
	path = Source
	url = git@dev.x-null.net:mohue4/mohue-game_source.git
	ignore = dirty

[submodule "Tools"]
	path = Tools
	url = git@dev.x-null.net:mohue4/mohue-tools.git
	ignore = dirty
